<div class="Comment-height" *ngFor="let com of comments; let i = index">
  <div class="Content-left-side">
    <div>
      <h5>{{com.account?.username}}</h5>
    </div>
    <div>posts: {{com.account?.commentsPosted}}</div>
    <div>
      replies: {{com.account?.contentsPosted}}
    </div>
  </div>
  <div class="Content-right-side">
    <div class="index">
      <b>#{{i+1}}</b>
    </div>
    <div class="Thread">{{com.text}}</div>
    <div class="Posted">
      <label>
        {{formatDate(com.posted)}}
      </label>
    </div>
  </div>
</div>
