.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;

}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
.Category-container {
  width: 55.5%;
  margin: auto;
  border-radius: 8px;

  background-color: #673ab7;
  color: white !important;
  margin-top: 30px;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
  width: 55.5%;
  height: 60px;
  margin: auto;
  border-radius: 8px;
  background-color: #673ab7;
  margin-top: 30px;
}

.mat-expansion-panel-header:hover{
  background-color: #9c66ff !important;
}

.mat-expansion-panel-header{

  color: white !important;
  height: 60px;
}

mat-expansion-panel-body{
  padding: 0 !important;
}

.removePadding{
  padding: 0 !important;
}

.mat-expansion-panel{
  background-color: transparent;
  box-shadow: none;
}

.CategoryName{
  flex-grow: 1;
  color: white;
}

.SubCategory-stripe {
  width: 56%;
  margin: auto;
  background-color: #3f51b5;
  border: #3f51b5;
  color: white;
  display: flex;
  padding: 10px;
}

label{
  flex: 1;
}

.Counts{
  display: flex;
  justify-content: center;
}

div.mat-expansion-panel-body {
  padding: 0 !important;
}

.LastPost{
  display: flex;
  flex: 1;
  justify-content: end;
}
