<div class="example-action-buttons">
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel *ngFor="let cat of categories" class="removePadding">
    <mat-expansion-panel-header class="Category-container">
      <mat-panel-title class="CategoryName">
        {{cat.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="lol">
      <div class="SubCategory-stripe">
      <label>NAME</label>
        <label>THREADS </label>
          <label>REPLIES</label>
            <label>LAST POST</label>
      </div>
    </div>

    <app-sub-category [subCategories]="cat.subCategory"/>

  </mat-expansion-panel>
</mat-accordion>
