<div class="upper">
<div class="numera">
  <label class="numero">{{user?.commentsPosted}}</label>
  <label class="numero">{{user?.contentsPosted}}</label>
</div>
<div class="lejbls">
  <label class="lejbl">Comments</label>
  <label class="lejbl">Contents</label>
</div>
</div>
<div class="tejbl">
  <mat-tab-group>
    <mat-tab label="First">
      <div class="contentTable">
        <app-table-comment [dataSource]="dataSource"/>
      </div>
    </mat-tab>
    <mat-tab label="Second">
      <div class="contentTable">
        <app-table-content [dataSource]="comments"/>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
