
<div class="Content-height">
  <div class="Content-left-side">
    <div>
      <h5>{{contentDetails.account?.username}}</h5>
    </div>
    <div>posts: {{contentDetails.account?.commentsPosted}}</div>
    <div>
      replies: {{contentDetails.account?.contentsPosted}}
    </div>
  </div>
  <div class="Content-right-side">
    <div>
      <h3>{{contentDetails.headline}}</h3>
    </div>
    <div class="Thread">{{contentDetails.text}}</div>
    <div>
      <label>
        {{contentDetails.posted}}
      </label>
    </div>
  </div>
</div>

<app-comment [comments]="contentDetails.comment"></app-comment>

<div class="CreateCommentContainer">
<form [formGroup]="createComment" class="CreateComment" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Text</mat-label>
    <textarea matInput formControlName="text" placeholder="Write down a text"></textarea>
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary">post</button>
</form>
</div>
