<div>
  <button mat-raised-button (click)="displayElement = !displayElement"  [disabled]="!isLoggedIn" color="primary">Create post</button>
<form [formGroup]="createContent" class="example-form" *ngIf="displayElement" (ngSubmit)="onSubmit()">
  <h1>Form</h1>
  <mat-form-field class="example-full-width">
    <mat-label>Headline</mat-label>
    <input matInput formControlName="headline" placeholder="Write down a headline" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Text</mat-label>
    <textarea matInput formControlName="text" placeholder="Write down a text"></textarea>
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary">post</button>
</form>
</div>
